.form-group
	= f.label :instructor_id, 'Instructor'
	= f.collection_select :instructor_id, User.where( "role > 1" ), :id, :full_name, { include_blank: '-- None -- ' }, class: 'form-control'
.form-group
	= f.label :publish_at
	= f.text_field :publish_at, value: current_user.to_local_tz( @course.publish_at ), class: 'form-control datetimepicker'
-# .form-group
	= f.label :category_id
	= f.collection_select :category_id, Dewey::CourseCategory.active.order( :name ), :id, :name, { include_blank: '-- None -- ' }, class: 'form-control'
.form-group
	= f.label :max_cohort_size
	= f.number_field :max_cohort_size, class: 'form-control', min: 1, step: 1, placeholder: 'unlimited'

.form-group
	= f.label :duration_humanize, "Duration"
	= f.text_field :duration_humanize, class: 'form-control', placeholder: 'unlimited'

.form-group
	= f.label :status
	= f.collection_select :status, Dewey::Course.statuses, :first, :first, {}, class: 'form-control'

.form-group
	= f.label :availability
	= f.collection_select :availability, Dewey::Course.availabilities, :first, :first, {}, class: 'form-control'

.form-group
	= f.label :course_type
	= f.collection_select :course_type, Dewey::Course.course_types, :first, :first, {}, class: 'form-control'

.form-group
	= f.label :course_content_schedule
	= f.collection_select :course_content_schedule, Dewey::Course.course_content_schedules, :first, :first, {}, class: 'form-control'

.form-group
	= f.label :course_content_flow
	= f.collection_select :course_content_flow, Dewey::Course.course_content_flows, :first, :first, {}, class: 'form-control'

.form-group
	= f.label :start_schedule
	= f.collection_select :start_schedule, Dewey::Course.start_schedules, :first, :first, {}, class: 'form-control'
