
- if authorized?( Dewey::CourseContent, controller: Dewey::CourseContentAdminController, action: :create ) && main_app.respond_to?(:new_dewey_course_content_admin_path)
	%a.pull-right.btn.btn-success{ href: main_app.new_dewey_course_content_admin_path( course_id: @course.id ) }
		%i.fa.fa-plus-square
		New

%h4 Course Content
%table.table.table-striped.table-hover{ style: 'margin-top: 1em' }
	%thead
		%th Title
		%th Sequence
		%th Release Offset
		%th Status
		%th
	%tbody
		- if @course_contents.blank?
			%tr
				%td{ colspan: 4 } - No CourseContents -
		- @course_contents.each do |course_content|
			%tr
				%td
					- if main_app.respond_to?(:edit_dewey_course_content_admin_path)
						%a{ href: main_app.edit_dewey_course_content_admin_path( course_content.id ) }
							= course_content.title
					- else
						= course_content.title
				%td
					= course_content.seq
				%td
					= course_content.release_offset_humanize
				%td
					= course_content.status
				%td
					.btn-group
						%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
							%i.fa.fa-cog
							%b.caret
						%ul.dropdown-menu

							- if main_app.respond_to?(:edit_dewey_course_content_admin_path)
								%li
									%a{ href: main_app.edit_dewey_course_content_admin_path( course_content.id ) }
										%i.fa.fa-pencil
										Edit
