


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', main_app.admin_index_path
				%li
					%strong
						Course Admin
						= "(#{pluralize @courses.total_count, 'Course'})"

		.col-xs-2
			- if authorized?( Dewey::Course, controller: Dewey::CourseAdminController, action: :create )
				%a.btn.btn-success{ data: { toggle: :modal, target: '#new_course' } }
					%i.fa.fa-plus-square
					New
	.row
		.col-xs-6
			= raw paginate @courses
		.col-xs-6
			= form_tag main_app.dewey_course_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( Dewey::Course.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', main_app.dewey_course_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table.table-striped.table-hover{ style: 'margin-top: 1em' }
				%thead
					%th
					%th
						Title
						%a{ href: main_app.dewey_course_admin_index_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: main_app.dewey_course_admin_index_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					%th
						Publish
						%a{ href: main_app.dewey_course_admin_index_path( sort_by: 'publish_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: main_app.dewey_course_admin_index_path( sort_by: 'publish_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					%th Status
					%th
				%tbody
					- @courses.each do |course|
						%tr
							%td
								= image_tag course.avatar.to_s, width: 50, class: 'img img-rounded'
							%td
								.title{ style: 'font-size:120%;' }= link_to course.title, main_app.edit_dewey_course_admin_path( course.id )
								%a.btn{ 'data-clipboard-text' => course.url, style: 'padding:0;border:none;' }
									= course.path
									%i.fa.fa-clipboard
							%td
								- if course.publish_at
									= course.publish_at.to_s( :slashed_time )
								- else
									\-
							%td
								- if course.published?
									.badge{ class: course.status }
										Live
								- elsif course.draft?
									.badge{ class: course.status }
										Draft
								- elsif course.active?
									.badge{ class: 'pending' }
										Pending
								- else
									.badge{ class: course.status }
										= course.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: main_app.edit_dewey_course_admin_path( course.id ) }
												%i.fa.fa-pencil
												Edit

										%li
											%a{ href: main_app.preview_dewey_course_admin_path( course.id ) }
												%i.fa.fa-eye
												Preview
										%li.divider
										%li
											%a{ href: main_app.dewey_course_admin_path( course ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!

- if Dewey::Course.trash.present?
	.pull-right{ style: 'margin-right:2em;' }
		%a{ href: main_app.empty_trash_dewey_course_admin_index_path, data: { method: 'delete', confirm: 'Are you sure?' } }
			%btn.btn.btn-danger
				empty trash

= render 'new_modal'
