#new_course_cohort.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Course
			= form_for Dewey::CourseCohort.new( course: course ), url: dewey.course_cohort_admin_index_path do |f|
				= f.hidden_field :course_id
				.modal-body
					.form-group
						= f.label :starts_at
						= f.text_field :starts_at, value: current_user.to_local_tz( Time.now ), class: 'form-control datetimepicker'
					.form-group
						= f.label :ends_at
						= f.text_field :ends_at, value: nil, class: 'form-control datetimepicker'
					.form-group
						= f.label :enrollment_starts_at
						= f.text_field :enrollment_starts_at, value: current_user.to_local_tz( Time.now ), class: 'form-control datetimepicker'
					.form-group
						= f.label :enrollment_ends_at
						= f.text_field :enrollment_ends_at, value: nil, class: 'form-control datetimepicker'
					.form-group
						= f.label :instructor_id, 'Instructor'
						= f.collection_select :instructor_id, User.where( "role > 1" ), :id, :full_name, { include_blank: '-- None -- ' }, class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
